<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
    <meta charset="UTF-8">
    <title>Angular Form Validation</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-cloak>
<div class="container">
<br>
    <div role="alert">
        <span class="error" ng-show="myForm.lastName.$error.minlength">Too Short !</span>
        <span class="error" ng-show="myForm.lastName.$error.maxlength">Too Long !</span>
    </div>
<br>
<form name="myForm">
    <label>First Name </label>
    <input name="firstName" ng-model="firstName" type="text" required/>
    <br>
    <Label>Last Name </Label>
    <input name="lastName" ng-model="lastName" type="text" ng-minlength="3" ng-maxlength="10"/>
    <br>
    <span class="error-message" ng-show="myForm.lastName.$invalid">Last name is invalid.</span>
    <br>
    <Label>Postal code </Label>
    <input name="postalCode" ng-model="postalCode" type="text"
           required ng-minlength="6" ng-maxlength="6" ng-pattern="/^[0-9]+$/"/>
    <br>
    <Label>Email Address </Label>
    <input type="email" ng-model="email" name="email">


</form>
<br>
    <h1> First Name validity {{myForm.firstName.$valid}}</h1>
    <h1> First Name pristine {{myForm.firstName.$pristine}}</h1>

    <h1> Last Name validity {{myForm.lastName.$valid}}</h1>
    <h1> Last Name error {{myForm.lastName.$error}}</h1>
    <h1> Postal Code validity {{myForm.postalCode.$valid}}</h1>
    <h1> Postal Code error {{myForm.postalCode.$error}}</h1>
    <h1> Email Address validity {{myForm.email.$valid}}</h1>
    <h1> Email Address invalid {{myForm.email.$invalid}}</h1>
</div>
</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/client-index.js"></script>


</html>