<!DOCTYPE html>
<html lang="en" ng-app="ValidationApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Form Validation</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="ValidationCtrl as ctrl">
<div class="container">
    <form name="validateForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <div class="form-group">
            <label for="firstName">First Name :</label>
            <input type="text" id="firstName" name="firstName" class="form-control"
                   ng-model="ctrl.firstName" required>
            <div class="help-block"
                 ng-show="validateForm.firstName.$invalid&&validateForm.firstName.$error.required">
                <p>First name is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name :</label>
            <input type="text" id="lastName" name="lastName" class="form-control"
                   ng-model="ctrl.lastName" required>
            <div class="help-block"
                    ng-show="validateForm.lastName.$invalid&&validateForm.lastName.$error.required">
                <p>Last name is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="postalCode">Postal Code :</label>
            <input type="text" id="postalCode" name="postalCode" class="form-control"
                   ng-model="ctrl.postalCode" required>
            <div class="help-block"
                 ng-show="validateForm.postalCode.$invalid&&validateForm.postalCode.$error.required">
                <p>Postal Code is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" class="form-control"
                   ng-model="ctrl.email" required>
            <div class="help-block"
                 ng-show="validateForm.email.$error.email">
                <p>Invalid email.</p>
            </div>
            <div class="help-block"
                 ng-show="validateForm.email.$error.required">
                <p>Email is mandatory</p>
            </div>
        </div>

        <div class="form-group"><button type="submit" class="btn-success form-control"
                                        ng-disabled="validateForm.$invalid">Register</button></div>

        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code==200,
             'alert-danger': ctrl.status.code==400 }">
            <button class="close" data-dismiss="alert">x</button>
                {{ctrl.status.message}}
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/client-index.js"></script>


</html>